
  <nav class="container">
    <a href="/find-movie" class="list-word">Find Movie</a>
    <a href="/add-movie" class="list-word">Add Movie</a>
    <a href="/find-celebrities" class="list-word">Find Celebrities</a>
    <a href="/add-celebrities" class="list-word">Add Celebrities</a>
    
    <a href="/logout" class="list-word">Log Out</a>
  </nav>
