
{{#if successAlert}}
  <div class="alert alert-success text-center" role="alert">
    Your favourite movie has been sucessfully added to your list!
  </div>
{{/if}}

{{#if movieExists}}
  <div class="alert alert-danger text-center" role="alert">
    Your favourite movie has already existed in your list!
  </div>
{{/if}}

{{#if errorMessage}}
  <div class="alert alert-danger text-center" role="alert">
    You need to fill in all the required fields to add a movie!
  </div>
{{/if}}

<h2 class="celebrity-add-title">Add your favourite movie to your list!</h2>

<div class="add-movie-container">
  <form action="/add-movie" method="post" class="create-form">
  <div class="movie-container-one">
    <input type="text" class="input-create input-most" name="title" placeholder="Title">
    <input type="text" class="input-create input-most" name="director" placeholder="Director">
    <input type="text" class="input-create input-most" name="rate" placeholder="Rate">
    <input type="text" class="input-create input-most" name="duration" placeholder="Duration">
    <input type="text" class="input-create input-most" name="year" placeholder="Year">
    <input type="text" class="input-create input-most" name="genre" placeholder="Genre">
    <input type="submit" value="Add Movie" class="submit-btn" id="submit-btn-create">
  </div>
  </form>
</div>