<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

  <title>Movies Library</title>
</head>
<body>

{{> _nav}}

{{{body}}}
  
</body>
<script src="jquery.min.js"></script>
<script src="/function.js"></script>

</html>